{block title}
Uživatelé
{/block}

{block content}
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center pb-3">
                <h2 class="mb-0">Uživatelé</h2>
                <a n:href="User:add" class="text-primary ml-3 d-flex align-items-center"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>E-mail</th>
                    <th>Skupiny</th>
                    <th>Vytvořen</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $users as $row}
                <tr>
                    <td>{$row->name}</td>
                    <td>{$row->surname}</td>
                    <td>{$row->email}</td>
                    <td></td>
                    <td>{date('d.m.Y H:i:s', strtotime($row->create_time))}</td>
                    <td class="text-right">
                        <a n:href="User:edit $row->user_id" class="text-primary mr-3"><i class="material-icons"><small>edit</small></i></a>
                        <a n:href="User:delete $row->user_id" onclick="return confirm('Opravdu smazat uživatele {$row->email}?');" class="text-danger mr-3"><i class="material-icons"><small>delete</small></i></a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
{/block}