{block title}
    Upravit uživatele
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Upravit uživatele</h2>
        </div>
    </div>
    {import 'form.latte'}
    {include userForm}
{/block}