{define userForm}
    <form n:name=userForm>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Jméno</label>
                    <input n:name=name type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="surname">Příjmení</label>
                    <input n:name=surname type="text" class="form-control" id="surname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input n:name=email type="text" class="form-control" id="email">
                    <small class="form-text">E-mail slouží jako přihlašovací jméno uživatele</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button n:name=sendUserForm class="btn btn-primary">Uložit uživatele</button>
            </div>
        </div>
    </form>
{/define}