{block title}
    Skupiny uživatelů
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Skupiny uživatelů</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 order-2 order-md-1">
            {if $groups}
            <table class="table">
                <thead>
                <tr>
                    <th>Skupina</th>
                    <th>Počet členů</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $groups as $row}
                    <tr>
                        <td>{$row->name}</td>
                        <td></td>
                        <td class="text-right">
                            <a href="#" class="text-primary"><i class="material-icons"><small>edit</small></i></a>
                            <a href="#" class="text-danger ml-2"><i class="material-icons"><small>delete</small></i></a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
            {/if}
        </div>
        <div class="col-12 col-md-3 order-1 order-md-2">
            <p class="h5">Nová skupina</p>
            <form n:name=groupForm>
                <div class="form-group">
                    <label for="name">Název nové skupiny</label>
                    <input n:name=name type="text" class="form-control" id="name">
                </div>
                <button n:name=sendForm type="submit" class="btn btn-sm btn-primary">Uložit skupinu</button>
            </form>
        </div>
    </div>
{/block}