{block title}
    Přihlášení
{/block}

{block content}
    <div class="row py-5">
        <div class="col-12 col-md-8 offset-md-2">
            <form n:name=loginForm>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input n:name=email type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Heslo</label>
                    <input n:name=password type="password" class="form-control" id="password">
                </div>
                <button type="submit" n:name=login class="btn btn-primary">Přihlásit</button>
            </form>
        </div>
    </div>
{/block}