<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Task manager</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	{*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css">*}
	<link href="{$baseUrl}/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bg-dark">
	<div class="container">
		<div class="row py-2">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="{$baseUrl}">Task manager</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Zobrazit menu">
						<i class="material-icons">menu</i>
					</button>

					<div class="collapse navbar-collapse" id="navbarMain">
						<div class="d-flex ml-auto align-items-center">
							<ul class="navbar-nav">
								{if !$user->isLoggedIn()}
									<li n:class="nav-item, isLinkCurrent('Registration:default') ? active : ''">
										<a class="nav-link" n:href="Registration:default">Registrace</a>
									</li>
								{/if}
								{if $user->isLoggedIn()}
									<li n:class="nav-item, isLinkCurrent('Task:*') ? active : ''">
										<a n:href="Task:default" class="nav-link">Moje úkoly</a>
									</li>
									<li n:class="nav-item, isLinkCurrent('Group:*') ? active : ''">
										<a n:href="Group:default" class="nav-link">Moje skupiny</a>
									</li>
									{if $user->isInRole('sa')}
										<li class="nav-item">
										<div class="dropdown pl-3">
											<button class="btn text-light dropdown-toggle" type="button" id="adminMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Admin
											</button>
											<div class="dropdown-menu" aria-labelledby="adminMenuDropdown">
												<a class="dropdown-item" n:href="User:default">Uživatelé</a>
												<a class="dropdown-item" n:href="User:group">Skupiny</a>
												<a class="dropdown-item" n:href="Status:">Stavy úkolů</a>
											</div>
										</div>
										</li>
									{/if}
									<li n:class="nav-item, ml-3, pl-3, border-left, border-secondary, isLinkCurrent('Profile:*') ? active : ''">
										<a class="nav-link px-3" n:href="Profile:default">{$userData['name']} {$userData['surname']}</a>
									</li>
									<li class="nav-item">
										<a class="nav-link px-3" n:href="Sign:out">Odhlásit</a>
									</li>
								{/if}
							</ul>

						</div>

					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<div n:foreach="$flashes as $flash" n:class="flash, py-2, text-center, 'alert-'.$flash->type">{$flash->message}</div>
<div class="container py-5">
	<div class="row">
		<div class="col">
			{include content}
		</div>
	</div>
</div>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{*<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>*}
	{/block}
</body>
</html>