{block title}
Moje skupiny
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Moje skupiny</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 order-2 order-md-1">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Název skupiny</th>
                    <th>Počet členů</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $groups as $row}
                    <tr>
                        <td>{$row->name}</td>
                        <td></td>
                        <td class="text-right">
                            <a href="#" class="text-danger"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-3 order-1 order-md-2">
            <form n:name=groupForm>
                <div class="form-group">
                    <label for="name">Název skupiny</label>
                    <input n:name=name type="text" class="form-control" id="name">
                </div>
                <button n:name=sendForm type="submit">Uložit skupinu</button>
            </form>
        </div>
    </div>
{/block}