{block title}
    Úkoly
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2 class="mb-0">Moje úkoly</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 order-2 order-md-1">
        {if $tasksByUser}
        <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Název úkolu</th>
                    <th>Datum od</th>
                    <th>Datum do</th>
                    <th>Popis</th>
                    <th>Stav</th>
                    <th>Zadal</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $tasksByUser as $k => $v}
                    <tr style="background-color: {$taskStatus[$v->status_status_id]['color']|noescape}">
                        <td>{$v->title}</td>
                        <td>{date('d.m.Y', strtotime($v->date_from))}</td>
                        <td>{date('d.m.Y', strtotime($v->date_to))}</td>
                        <td><small>{$v->description}</small></td>
                        <td>{$taskStatus[$v->status_status_id]['title']}</td>
                        <td>{$taskCreatedBy[$v->created_by]}</td>
                        <td></td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        {else}
        <p>Nemáte zatím žádné úkoly. Přidejte si nový.</p>
        {/if}
        </div>
        <div class="col-12 col-md-3 order-1 order-md-2">
            <form n:name=taskForm>
                <div class="form-group">
                    <label for="title">Název úkolu</label>
                    <input n:name=title type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="date_from">Datum zadání</label>
                    <input n:name=date_from type="date" class="form-control" id="date_from">
                </div>
                <div class="form-group">
                    <label for="date_to">Datum splnění</label>
                    <input n:name=date_to type="date" class="form-control" id="date_to">
                </div>
                <div class="form-group">
                    <label for="description">Popis úkolu</label>
                    <textarea n:name=description class="form-control" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="assigned">Přiřadit úkol</label>
                    <select n:name=assigned class="form-control" id="assigned"></select>
                </div>
                <div class="form-group">
                    <label for="group">Přiřadit úkol ke skupině</label>
                    <select n:name=group class="form-control" id="group"></select>
                </div>
                <button n:name=sendForm class="btn btn-sm btn-primary">Uložit úkol</button>
            </form>
        </div>
    </div>


{/block}