{block title}
Změnit heslo
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Změnit heslo</h2>
        </div>
    </div>
    <form n:name=editPasswordForm>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="currentPassword">Aktuální heslo</label>
                    <input n:name=currentPassword type="password" class="form-control" id="currentPassword">
                </div>
                <div class="form-group">
                    <label for="newPassword">Nové heslo</label>
                    <input n:name=newPassword type="password" class="form-control" id="newPassword">
                </div>
                <div class="form-group">
                    <label for="newPasswordVerify">Nové heslo pro ověření</label>
                    <input n:name=newPasswordVerify type="password" class="form-control" id="newPasswordVerify">
                </div>
                <div class="form-group">
                    <button n:name=editPassword class="btn btn-primary">Změnit heslo</button>
                </div>
            </div>
        </div>
    </form>
{/block}