{block title}
Můj profil
{/block}

{block content}
    <div class="row pb-3">
        <div class="col">
            <div class="d-flex align-items-center">
                <h2 class="mb-0">Můj profil</h2>
                <a n:href="Profile:edit" class="btn btn-sm text-primary ml-3">
                    <i class="material-icons">edit</i>
                </a>
                <a n:href="Profile:changePassword" class="btn btn-sm text-danger">
                    <i class="material-icons">lock</i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li>
                    <strong>Jméno:</strong> {$userData['name']}
                </li>
                <li>
                    <strong>Příjmení:</strong> {$userData['surname']}
                </li>
                <li>
                    <strong>E-mail:</strong> {$userData['email']}
                </li>
            </ul>
        </div>
    </div>
{/block}