{block title}
Upravit profil
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Upravit profil</h2>
        </div>
    </div>
    <form n:name=editProfileForm>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Jméno</label>
                    <input n:name=name type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="surname">Příjmení</label>
                    <input n:name=surname type="text" class="form-control" id="surname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input n:name=email type="text" class="form-control" id="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button n:name=editProfile class="btn btn-primary">Upravit profil</button>
            </div>
        </div>
    </form>
{/block}