{block title}
    Stavy úkolů
{/block}

{block content}
    <div class="row">
        <div class="col">
            <h2>Stavy úkolů</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 order-2 order-md-1">
            {if $statuses}
            <table class="table table-borderless table-hover">
                <thead>
                <tr>
                    <th>Název</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $statuses as $row}
                <tr style="background-color: {$row->color|noescape}">
                    <td>{$row->title}</td>
                    <td class="text-right">
                        <a href="#" class="text-danger"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            {else}
                <p>Není zde žádný stav úkolů. Přidejte nový.</p>
            {/if}
        </div>
        <div class="col-12 col-md-3 order-1 order-md-2">
            <p class="h5">Nový stav úkolu</p>
            <form n:name=statusForm>
                <div class="form-group">
                    <label for="title">Název</label>
                    <input n:name=title type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="color">Barva</label>
                    <input n:name=color type="color" class="form-control" id="color">
                </div>
                <button n:name=sendForm type="submit" class="btn btn-sm btn-primary">Uložit</button>
            </form>
        </div>
    </div>
{/block}